<a href="https://colab.research.google.com/github/forfourr/Pre-cap/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hi")

In [ ]:
a= 'python'

a[:2]

# List

- 열거형자료구조 (append,insert,extend,index,count)

In [ ]:
color = ['red','pink','black']
print(color)
type(color)

In [ ]:
color.append('blue') #맨마지막에 추가
# color+=['blue'] 와 같은 것것
color

In [ ]:
color.insert(2,"orange") #2번째에 "orange"c추가
color

In [ ]:
color.extend(["#203180","#992918"]) #기존 배열에 배열을 붙임
color

In [ ]:
#배열에서 값의 index찾기
color.index('orange')

#만약 중복되는 값이 존재한다면 index(숫자,"값") = 숫자값의 list번호부터 찾아

In [ ]:
#몇개나오는지 보려면
print(color.count("blacnk"))
print(color.count("black"))

- Pust & Pop

In [ ]:
list = ['orange','apple','peach']

In [ ]:
list.pop()
print(list)

In [ ]:
list.pop(0) # 0번째 리스트 삭제
print(list)

In [ ]:
#특정 값을 삭제할 때 romove
list.remove('apple')
print(list)

- list 정렬

In [ ]:
member = ['이현주','정세훈','이우현','이도롱']

In [ ]:
member.sort()
print(member)

In [ ]:
member.reverse()
print(member)


# Set

*   장점 : 합집합, 교집합 구할 수 있음
*   단점 : 인덱스 없음

In [ ]:
a= {1,2,3,4}
b= {4,5,6}
print(type(a))

In [ ]:
print(a.union(b)) # 합집합
print(a.intersection(b)) #교집합
print(a-b) #차집합

# Tuple

In [ ]:
t= (1,2,3)
print(type(t))

- 스와핑

In [ ]:
a=10
b=1
print("바꾸기전: ",a,",",b)
(a,b) = (b,a)
print("바꾼후: ",a,",",b)

# Dictionary

In [ ]:
d = dict(a=1, b=2, c=3)
print(d)

In [ ]:
#dic 만드는 다른 방법
d = {
    "a" : 1,
     "b": 2,
     "c": 3,
}

!! d[0] ---> ERORR 인덱스가 존재하지 않음음

In [ ]:
print(d['a']) #Key를 통해 value를찾을 수 있음

In [ ]:
#dic 추가하려면
d["e"]=4
print(d)

In [ ]:
#값을 바꿀 때
d["e"] = 5
print(d)

In [ ]:
print(d.keys())
print(d.values())
print(d.items())

즉, key는 중복 X

- for문

In [ ]:
for k in d.keys(): # k에 dic값의 key가 순서대로 들어감
    print("key: ",k,",value: ",d[k])

In [ ]:
for v in d.values():
    print(v)

In [ ]:
for i in d.items():
    print("item: ",i) ## 튜플타입으로 결과가 나옴!!!!!!!!!!

for (k,v) in d.items(): ##튜플로 변수 받을 수 있음음
    print("key: ",k, "values: ", v)

In [ ]:
summer ={
    'aname':{"lee":3},
    'age':24
}

#복사

*   call by reference
*   call by value (deepcopy)

In [ ]:
 a= [1,2,3]
 b=a
 print(a==b)
 #a,b의 주소가 같아짐 call by reference

In [ ]:
a[0]= 38
print(a)
print(b)
#call by reference

In [ ]:
#값만 복사해올 때 call by value

c = [1,2,3]
d = c[:] #a의 value 전부 복사해서 넣는다.

print(c)
print(d)


c[0]=0
print(c)
print(d)

In [ ]:
#다른방법
import copy

d = copy.deepcopy(c)

c[0] = 'a'
print(c)
print(d)

# Function

In [ ]:
def sum (a,b):
    result = a+b
    return result

In [ ]:
print(sum(1,2))
print(sum(10,334))

In [ ]:
#함수의 주소 확인하기
print(sum) # 16진수
print(id(sum)) # 10진수

In [ ]:
g=10
def sum2(x,y):
    global g
    g+=1
    return x,y

print(g)
print(sum2(2,3))

In [ ]:
#함수 예제

def connectURL(protocol, server, port):
    address= protocol+ "://" + server +":"+port
    return address

print(connectURL('http','naver.com','80'))

In [ ]:
# input인자의 개수가 일정하지 않을 때

def test(*args):
    print(args)


test(1,2,3)

# 제어문

- if

In [ ]:
#if

def fun(value):
    if value >5:
        print(str(value) + 'is bigger than 5')
    else:
        print(str(value)  , "is smaller than 5")

int(input("enter your number: "))

In [ ]:
#구간나누기

def grade(score):
    if 90 <= score <=10:
        grade = 'A'
    elif 80 <= score <90:
        grade ='B'
    elif 70 <= score <80:
        grade = 'C'
    elif 60<= score <70:
        grade = 'D'
    else:
        grade ='F'
    print("You got a ",grade)

grade(int(input("Enter you score: ")))

- while , for

In [ ]:
L= ['이현주',160, '010-1111']

for i in L:
    print(i)